# Node dependencies
node_modules/

# Environment variables
.env

uploads/


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output (if any)
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor config
.vscode/
.idea/

# Test coverage
coverage/

# Temporary files
*.tmp
